<div class="row">
	<h2>View your pending tasks below!</h2>
	<p>Use the buttons to mark a task as complete or edit the current task</p>
</div>

<hr/>

<div class="row">

<div class="col-sm-4">
	<table class="table-condensed">
	  <thead>
	    <tr>
	      <th scope="col">Category</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @categories.each do |category| %>
	    <tr>
	      <td><%= link_to category.name, tag_path(category.name) %></td>
	    </tr>
	    <% end %>
	    <tr>
	    	<td><%= link_to "Category Manager", categories_path, class: "btn btn-success" %></td>
	    </tr>
	  </tbody>
	</table>
</div>

<div class="col-sm-8">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Task</th>
				<th>Category</th>
				<th>Created</th>
				<th colspan="2"></th>
			</tr>
		</thead>
		<tbody>
			<% @items.each do |item| %>
				<% if !item.completed? %>
				<tr>
					<td><%= link_to item.title, item %></td>
					<td><%= Category.find(item.category_id).name %></td>
					<td><%= time_ago_in_words(item.created_at) %> ago</td>
					<td><%= link_to complete_item_path(item), method: :patch do %>
				        	<i class="glyphicon glyphicon-ok"></i>
				        <% end %></td>
					<td><%= link_to item, method: :delete, data: { confirm: "Are you sure?"} do %>
							<i class="glyphicon glyphicon-trash"></i>
				        <% end %></td>
				</tr>
				<% end %>
			<% end %>		
		</tbody>
	</table>
</div>


</div>

<hr>

<div class="row">
	<div class="col-sm-8 col-sm-offset-4">
		<h4>Completed Tasks:</h4>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Task</th>
					<th>Category</th>
					<th>Completed</th>
					<th colspan="2"></th>
				</tr>
			</thead>
			<tbody>
				<% @items.each do |item| %>
					<% if item.completed? %>
					<tr>
						<td><%= link_to item.title, item %></td>
						<td><%= Category.find(item.category_id).name %></td>
						<td><%= time_ago_in_words(item.completed_at) %> ago</td>
						<td><%= link_to item, method: :delete, data: { confirm: "Are you sure?"} do %>
								<i class="glyphicon glyphicon-trash"></i>
					        <% end %></td>
					</tr>
					<% end %>
				<% end %>		
			</tbody>
		</table>
	</div>
</div>




